[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
jupyter = "*"
tqdm = "*"
torch = "*"
wget = "*"
plotly = "*"
python2 = "*"
nltk = "*"
jupyterthemes = "*"

[requires]
python_version = "3.6"
